.mainDiv{
    position: relative;
    width: 800px;
    height: 500px;
    border: 1px solid red;
    font-family: 'Times New Roman';
}

#splashScreen{
    background: url(images/splashScreen.jpg) no-repeat #000;
}

#gameCanvas{
    width: 800px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
}

#logo{
    margin: 10px auto;
    text-align: center;
}

#startButtons{
    margin: 30px auto;
    width: 300px;
}

.startButton{
    width: 250px;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
    font-size: 35px;
    color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 0.9;
}

.startButton:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    box-shadow: 0 0 10px #000;
}

.dialog{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 50px auto;
    width: 80%;
    height: 80%;
    border: 2px solid #fff;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px #fff;
    display: none;
}

.dialogTitle{
    width: 100%;
    height: 50px;
    /*border-bottom: 2px solid #fff;*/
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    font-size: 25px;
}

.dialogContent{
    height: 270px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    overflow-y: auto;
}

.dialogButtons{
    height: 100px;
}

.dialogButton{
    width: 40%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    margin-left: 7%;
    margin-top: 20px;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
    text-align: center;
    cursor: pointer;
}

.dialogButton:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    box-shadow: 0 0 10px #000;
}




#gameCanvas {
    z-index: -1;
}

#playerStats{
    width: 100%;
    height: 70px;
    z-index: 2;
    display: none;
}

#playerLives, #playerScoreCircle{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    float: right;
    border-radius: 60px;
    border: 2px solid #fff;
    background-color: #000;
    text-align: center;
    font-size: 35px;
    color: red;
    line-height: 50px;
    font-weight: bold;
    text-shadow: 0 0 3px #000;
}

#playerDamageContainer{
    width: 140px;
    height: 20px;
    margin-top: 25px;
    margin-left: -13px;
    margin-right: 40px;
    float: right;
    border-radius: 10px;
    border: 2px solid #fff;
    padding: 4px;
    box-sizing: border-box;
}

#playerDamage{
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 5px;
}

#playerDamageCover{
    width: 0px;
    height: 13px;
    float: right;
    margin-top: -10px;
    background-color: #000;
}

#playerScoreCircle{
    float: left;
    margin-left: 25px;
}

#playerScoreCircle img{
    margin-top: 10px;
    width: 30px;
}

#playerScore{
    width: 300px;
    float: left;
    height: 70px;
    line-height: 70px;
    margin-left: 5px;
    color: yellow;
    font-size: 35px;
}

#playerRoadContainer{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 40px;
    z-index: 2;
    display: none;
    /*border-top: 2px solid red;*/
}

#playerRoadMap{
    width: 500px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 10px auto;
    padding: 2px;
    box-sizing: border-box;
}

#playerRoadMapFill{
    background-color: red;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#playerRoadMapCover{
    float: right;
    background-color: #000;
    width: 100%;
    height: 100%;
    margin-top: -7px;
}

#playerMarker{
    float: left;
    height: 30px;
    margin-top: -37px;
    margin-left: -15px;
}